@import "tailwindcss";

:root {
  --foreground: #ffffff;
  --background: #020202;
}

body {
  background-color: var(--background);
  color: var(--foreground);
}

.gruppo {
  font-family: var(--font-gruppo);
}

.averia_libre {
  font-family: var(--font-averia_libre);
}

.bungee_hairline{
  font-family: var(--font-bungee_hairline);
}