@import "tailwindcss";

:root {
  --foreground: #ffffff;
  --background: #171717;
  --font-geist-sans:
}

body {
  background-color: var(--background);
  color: var(--foreground);
}

.gruppo {
  font-family: var(--font-gruppo);
}

.averia_libre {
  font-family: var(--font-averia_libre);
}